body {
    margin-top: 20px;
    background: #eee;
}

.input-group.input-group-lg {
    width: 100%; /* Adjust width to fill the container or set a fixed width if necessary */
    margin-bottom: 30px; /* Adds space below the search bar */
}

.input-group-text {
    background: none;
    border: none; /* Removes border from the span around the icon and button */
}

.form-control {
    border: 1px solid #ccc; /* Adds a subtle border to the input */
}

.btn {
    border: none; /* Removes border from the button */
}

.container {
    margin-top: 40px; /* Adds top margin to create space between search bar and categories */
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.height-5x, .width-5x {
    height: 3rem!important;
    width: 3rem!important;
}

.flex-center {
    justify-content: center!important;
    align-items: center!important;
}

.rounded-circle {
    border-radius: 50%!important;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(13,15,12,.075)!important;
}

.ms-n3 {
    margin-left: -1rem!important;
}
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
