<div class="container">
    <div class="offer-container">
        <h1 class="offer-title">{{currentAppelOffre.titre}}</h1>
        <div class="image-section">
            <img [src]="currentAppelOffre.img ? 'data:image/png;base64,' + currentAppelOffre.img : 'assets/default-image.png'" alt="Offer Image" class="offer-image">
        </div>
        <div class="details-section">
            <p class="offer-description">{{currentAppelOffre.description}}</p>
            <span class="location-info">{{currentAppelOffre.localisation}}</span>
            <a (click)="downloadDocument(currentAppelOffre.id)" class="download-link">
                <i class="fas fa-download"></i> Télécharger
            </a>
        </div>
    </div>
    <div class="entreprise-info">
        <h2>Entreprise Info</h2>
        <table class="info-table">
            <tr>
                <th>Nom:</th>
                <td>{{ currentEntreprise.name }}</td>
            </tr>
            <tr>
                <th>Secteur d'activité:</th>
                <td>{{ currentEntreprise.secteuractivite }}</td>
            </tr>
            <tr>
                <th>Adresse:</th>
                <td>{{ currentEntreprise.adresse }}</td>
            </tr>
            <tr>
                <th>Ville:</th>
                <td>{{ currentEntreprise.ville }}</td>
            </tr>
        </table>
    </div>
    <button class="btn btn-primary" [routerLink]="['/addOffre', currentAppelOffre.id]">Postuler dans cet offre</button>
</div>
