body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f8ff;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.left-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0f7fa;
}

.left-section img {
  max-width: 100%;
  height: auto;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.login-container {
  width: 100%;
  max-width: 500px;
}

.login-container .icon {
  width: 80px;
  height: auto;
  margin-bottom: 1rem;
}

.login-container h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.input-group input,
.input-group .re-captcha {
  flex: 1 1 45%; /* Inputs take 45% of the container width, two per line */
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.input-group input[type="file"] {
  flex: 1 1 100%; /* File input takes full width */
  margin-bottom: 20px; /* Adds space below the file input field */
}

.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  display: block;
  color: #dc3545;
  font-size: 0.875em;
}

button {
  padding: 1rem;
  border: none;
  background: #26a69a;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; 
}

button:hover {
  background: #2bbbad;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.forgot-password,
.account-signin {
  flex: 1;
  text-align: center;
}

.forgot-password a,
.account-signin a {
  display: block;
  padding: 10px;
  color: #007bff;
  text-decoration: none;
}

.forgot-password {
  text-align: left;
}

.account-signin {
  text-align: right;
}
