<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entreprise Actions</title>
</head>
<body>
    <div class="container">
        <h1>Bienvenue!</h1>
        <p>Choisissez une action concernant votre entreprise:</p>
        <div class="button-container">
            <button class="btn" id="join" [routerLink]="['/demanderejointentreprise']">Rejoindre une entreprise</button>
            <button class="btn" id="create" [routerLink]="['/demandecreationentreprise']">Créer une entreprise</button>
        </div>
    </div>
</body>
</html>