<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Entreprise</title>
</head>
<body>
  <div class="full-screen-container">
    <div class="form-container">
      <h2>Update Entreprise</h2>
      <form (ngSubmit)="updateEntreprise()">
        <div class="input-box" *ngIf="logoPreview" class="image-preview" (click)="openFileInput()">
          <input type="file" id="logoInput" (change)="onFileSelected($event)" name="logo" class="form-control" style="display: none;">
          <img class="entreprise-logo" [src]="logoPreview" alt="Logo Preview" style="cursor: pointer; width: 100px; height: auto;">
        </div>

        <div class="input-box">
          <input type="text" [(ngModel)]="currentEntreprise.name" name="name" class="form-control" placeholder="Nom">
        </div>
        <div class="input-box">
          <input type="text" [(ngModel)]="currentEntreprise.adresse" name="adresse" class="form-control" placeholder="Addresse">
        </div>
        <div class="input-box">
          <input type="text" [(ngModel)]="currentEntreprise.secteuractivite" name="secteuractivite" class="form-control" placeholder="Activity Sector">
        </div>
        <div class="input-box">
          <input type="text" [(ngModel)]="currentEntreprise.matricule" name="matricule" class="form-control" placeholder="matricule">
        </div>
        <div class="input-box">
          <input type="text" [(ngModel)]="currentEntreprise.ville" name="ville" class="form-control" placeholder="City">
        </div>
        <div class="input-box">
          <input type="text" [(ngModel)]="currentEntreprise.siegesociale" name="siegesociale" class="form-control" placeholder="Head Office">
        </div>
        <div class="input-box">
          <input type="text" [(ngModel)]="currentEntreprise.codeTVA" name="codeTVA" class="form-control" placeholder="TAX Code">
        </div>
       
        <div class="image-upload-container">
          <label for="codetvadocument" class="image-upload-label">
              <i class="fas fa-file-pdf upload-icon"></i> <!-- Replace emoji with Font Awesome PDF icon -->
              Document CodeTVA
          </label>
          <input type="file" (change)="onDocumentCODETVASelected($event)" name="codetvadocument" id="codetvadocument" accept="application/pdf" style="opacity: 0;">
        </div>
        <div class="image-upload-container">
          <label for="status" class="image-upload-label">
              <i class="fas fa-file-pdf upload-icon"></i> <!-- Replace emoji with Font Awesome PDF icon -->
              Status
              <input type="file" (change)="onDocumentSelected($event)" name="status" id="status" accept="application/pdf" style="opacity: 0;">
          </label>
        </div>
        <button type="submit"  class="btn">Update Entreprise</button>
      </form>
    </div>
  </div>
</body>
</html>
